$primary-bg: #ffffff;
$secondary-bg: #f1f2f6;
$tertiary-bg: #dfe4ea;
$purple-color: #6c5ce7;
$red-color: #ff6348;
$orange-color: #ffa502;
$blue-color: #4b7bec;
$blue-hover-color: #4b7bec20;

$primary-font: "Poppins", sans-serif;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;
$tertiary-font-color: #000000a1;
